/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

 body {
 	
 }

 .larger {
    font-size: 90px;
    padding: 25px 0px;
 }

 .largeish {
   font-size: 55px;
   line-height: 65px;
  }
